@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Merriweather');
header{
  background-color: white;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  margin-top: -20px;
}

h1{
text-align: center;
font-weight: bold;
font-size: 60px;
font-family: 'Dancing Script', cursive;
}


main{
  background-color: white;
  width: 100%;
  height: auto;
  color: white;
  margin: 0 auto;
}

footer{
  background-color: pink;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  margin-top: 50px;
}

nav{
  background-color: pink;
  width: 350px;
  height: 50px;
  margin: 0 auto;
  border: solid black 1px;
}


nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 8px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: 'Merriweather';
}

nav ul li a:hover{
  color: gray;
}

p{
  color: black;
  font-family: 'Merriweather';
  text-align: center;
}

.images{
  height: 300px;
  display: block;
  margin: 2px auto;
}
