@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

#name{
  color: purple;
text-align: center;

}

#royal{
  color: purple;
}

#express{
color: purple;
}

#umweb{
  color: purple;
}

#address{
  color: dimgrey;
}

.center{
  display: block;
  margin: 0 auto;
}

.back{
  background-color: MediumVioletRed;
  color: white;
  padding: 5px;
}


body{
  background-color: white;
font-family: 'Roboto Slab', serif;

  }

  p{
    line-height: 30px;
    text-indent: 20px;
  }

address{
  color: grey;
}


a:link{
text-decoration: none;
  color: dodgerblue;
}


a:visited{
  text-decoration: none;
  color: dodgerblue;
}


a:hover{
  text-decoration: underline;
  color: pink;
}
